<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta charset="utf-8" />
        <meta content="width=device-width, initial-scale=1" name="viewport" />
        <meta content="ie=edge" http-equiv="x-ua-compatible" />
        <link href="/static/favicon.ico" rel="icon" type="image/x-icon" />
        <link href='https://fonts.googleapis.com/css?family=Roboto:400,300' rel='stylesheet' type='text/css'>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link href="/static/styles.css" rel="stylesheet" />
    </head>
    <body>
        <div class="container logout">
            <div class="message message-full-width">
                {{ if eq .error "closed_beta" }}
                We are currently in closed beta. Contact @bradrydzewski on Twitter if you would like to participate.
                {{else}}
                {{ .error }}
                {{ end}}
            </div>
        </div>
    </body>
</html>
